%h1 All up in yer statuses
.table-responsive
  %table.table.table-striped.bigger-text
    %thead
      %tr
        %th user
        %th last pr comment
        %th last pr merged
        -#%th total pr comments
        -#%th total prs merged
    %tbody
    - @report.each do |username, stats|
      %tr
        %td= link_to_github_profile_for username
        %td= formatted_time_in_colored_table_cell stats[:last_pr_comment]
        %td= formatted_time_in_colored_table_cell stats[:last_pr_merged]
        -#%td= stats[:total_pr_comments]
        -#%td= stats[:total_prs_merged]
